{% extends "flog/base.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>
        "Freelog" is a very well designed and slick blog that’s all about being your own boss and creating your own wealth.
        It’s a free blog with a very active feed. Users can register themselves in this blog and can create posts according to their interests.
        They can even change their profile picture, update their posts and also delete them. And woah! You don't have even to worry if you have forgotten the password for your profile.
        You can easily reset your password by clicking on the "Forgot Password?" link in the login page. you will receive a password reset mail in your given e-mail id 
        and can easily reset your password.
    </p>
{% endblock content %}

